<hibernate-configuration>
    <session-factory>
        <!-- Database Props -->
        <property name="hibernate.connection.driver_class">org.sqlite.JDBC</property>
        <property name="hibernate.connection.url">jdbc:sqlite:block_exchange.db</property>
        <property name="hibernate.dialect">org.hibernate.community.dialect.SQLiteDialect</property>
        <property name="hibernate.transaction.jta.platform">org.hibernate.engine.transaction.jta.platform.internal.NoJtaPlatform</property>
        <property name="hibernate.hbm2ddl.auto">update</property>
        <property name="hibernate.show_sql">true</property>

        <!-- Database Mappings -->
        <mapping class="com.ewyboy.blockexchange.database.entities.DbPlayer"/>
        <mapping class="com.ewyboy.blockexchange.database.entities.DbItem"/>
        <mapping class="com.ewyboy.blockexchange.database.entities.DbOrder"/>
        <mapping class="com.ewyboy.blockexchange.database.entities.DbTransaction"/>
    </session-factory>
</hibernate-configuration>
